.vscode/tasks.json
.classpath
.project
src/main/java/Misc/Graph.class
src/main/java/Misc/Processor.class
src/main/java/Windows/MainWindow$1.class
src/main/java/Windows/MainWindow$2.class
src/main/java/Windows/MainWindow$3.class
src/main/java/Windows/MainWindow$4.class
src/main/java/Windows/MainWindow$5.class
src/main/java/Windows/MainWindow$6.class
src/main/java/Windows/SettingsWindow.class
src/main/java/Windows/ViewWindow.class
src/main/java/Windows/MainWindow.class
src/main/java/Math.class
src/main/java/Math$1.class
src/main/java/Shrek_Math.class
.classpath
.project
src/main/java/.DS_Store
src/main/.DS_Store
.DS_Store